<!DOCTYPE html>
<html>
<head>
<title>Death claim insurance</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link href="css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="jQueryAssets/jquery.ui.core.min.css" rel="stylesheet" type="text/css">
<link href="jQueryAssets/jquery.ui.theme.min.css" rel="stylesheet" type="text/css">
<link href="jQueryAssets/jquery.ui.tabs.min.css" rel="stylesheet" type="text/css">
<script src="jQueryAssets/jquery-1.11.1.min.js"></script>
<script src="jQueryAssets/jquery.ui-1.10.4.tabs.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="./app.js"></script> 
<script src="jQueryAssets/bootstrap-notify.js"></script>


</head>

<body  ng-app="myModule" ng-controller="myController">
<div class="container-fluid"> 
  
  <!-- loader icon -->
  <div id="cover-spin"></div>

  <!-- Header Section starts here-->
  <header class="header_bg">
    <div class="header_left"></div>
    <div class="header_right"></div>
    <div class="container">
      <div class="logo_pharma"> <a href="index.html"><img src="images/logo.png" alt="logo"/></a> </div>
      <div class="banner_text_right"> Blockchain for Business<br>
        <b>WITH IBM BLOCKCHAIN</b> </div>
    </div>
  </header>
  <!-- Header Section ends here--> 
  
  <!-- Content Section ends here-->
  <div class="page_banner">
    <div class="login_form">
      <div id="Tabs1">  
        <ul>
          <li><a href="#tabs-2">Register</a></li>
        </ul>
       <div id="tabs-2">
	<form>
         <div class="select"><label>User Type</label>
          <select ng-model="formData.participants">
          	<option selected >Beneficiary</option>
		<option>Insurer</option>
		<option>Funeral Home</option>
		<option>Certificate provider</option>
		<option>Hospital</option>
          </select>
	 </div>
          <label>Name</label>
          <input type="text" ng-model="formData.pname"  placeholder="Name">
          <label>Password</label>
          <input type="password" placeholder="Password"  ng-model="formData.pwd">
    <!--      <label>Confirm Password</label>
          <input type="password" placeholder="Password"> -->
          <input type="SUBMIT" value="Register" ng-click="registerParticipants(formData)">
	</form>
        </div>
      </div>
          <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Content Section ends here--> 

<!-- Footer Section starts here-->
<footer class="footer">©  copyright 2018</footer>
<!-- Footer Section ends here-->

</div>
<script type="text/javascript">
$(function() {
	$( "#Tabs1" ).tabs(); 
});


$(document).keydown(function (event) {
    if (event.keyCode == 123) { // Prevent F12
        alert("Right click is disabled");
        return false;
    } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I
        alert("Right click is disabled");
        return false;
    }
});

$(document).on("contextmenu",function(e){
        e.preventDefault();
});


</script>
</body>
</html>
